// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sassy-buttons";

ul#article-list {
  clear: both;
  list-style-type: none;
  padding-left: 0px;
  
  li {
    background: #FFF;
    border-radius: 10px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;

    .article-link {
      font-size: 1.5em;
      a {
        text-decoration: none;
      } 
    }
  }
}

.new-article {
  @include sassy-button("simple", 15px, 13px, #EEE);
  
  display: block;
  text-decoration: none;
  text-align: right;
  font-weight: bold;
}

label {
  display: block;
}

input[type="submit"] {
  margin-top: 50px;
}

#user-options {

  .edit-button {
    @include sassy-button("simple", 2px, 12px, #777);
  }

  .delete-button {
    @include sassy-button("simple", 2px, 12px, #D12435);
  }

  background: #FBFFD1;
  padding: 7px 0px;
  text-align: center;
}

.view-counter {
  background: #AAA;
  color: white;
  padding: 2px 5px;
}
